<template>
    <div>
    <br>
   
    <h3 style="background-color:#6698FF; margin-left: 10px;"><b>Welcome to ToDos Page!</b></h3> 

    <form class="col-lg-4 col-lg-offset-4" id="LoginForm">
    <br>
    <div innerhtml.bind="loginError"></div>
    <div class="form-group">
    <label for="email"><b>Email:</b></label>
     <input value.bind="email" type="email" autofocus class="form-control" id="email" placeholder="Email"></input>
     </div>
     <div class="form-group">
     <label for="password"><b>Password:</b></label>
      <input value.bind="password" type="password" class="form-control" id="password" placeholder="Password"></input>
    </div>
    <button class="btn btn-primary" click.trigger='login()'>Login</button>
    <a href="" class="text-muted" click.trigger="showRegister()">Register</a>
</form>
</div>
</div>
</template>