<template>
        
      <h2> <b> My ToDos List</b></h2>  
      <br>
      
             <div class="card topMargin">
                    
                        <div class="row">
                             <span class="col">
                                <div class="form-check">
                                <label class="form-check-label">
                                <input change.trigger="toggleShowCompleted()" type="checkbox" class="form-check-input"> <b>Show completed</b>
                                </label>
                                </div>
                                </span>
                                 <span class="col">
                                <span class="rightMargin pull-right">
                                <i click.trigger="logout()" class="fa fa-sign-out fa-lg" aria-hidden="true"></i></span>
                                <span class=" rightMargin pull-right">
                                <i click.trigger="createTodo()" class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
                            </span>
                        </div>
            <div show.bind="todos.todosArray.length">
                    <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align:center">ToDo</th>
                                    <th style="text-align:center">Due Date</th>
                                    <th style="text-align:center">Priority</th>
                                    <th style="text-align:center">File</th>
                                    <th style="text-align:center">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr class="${todo.priority === 'Critical' ? 'table-primary' : ' '}" repeat.for = "todo of todos.todosArray|completed:showCompleted">
                                            <td style="text-align:center">${todo.todo}</td>
                                            <td style="text-align:center">${todo.datedue | dateFormat}</td>
                                            <td style="text-align:center">${todo.priority}</td>
                                            <td style="text-align:center"><a href="uploads/${user._id}/${todo.file.fileName}" target="_blank">${todo.file.originalName}</a></td>
                                            <td style="text-align:center">
                                            <i click.trigger="editTodo(todo)" class="fa fa-pencil rightMargin" aria-hidden="true"></i>
                                            <i click.trigger="deleteTodo(todo)" class="fa fa-trash rightMargin" aria-hidden="true"></i>
                                            <i show.bind="!todo.completed" click.trigger="completeTodo(todo)" class="fa fa-square-o" aria-hidden="true"></i>
                                            <i show.bind="todo.completed " click.trigger="completeTodo(todo)" class="fa fa-check " aria-hidden="true"></i>
                                            </td>
                                             
                                    </tr>
                            </tbody>
                </table>
                </div>
                        <div show.bind="!todos.todosArray.length">
                            <br><br>
                            <h2 style="text-align:center;">Apparently, you don't have anything to do!!</h2>
                        </div>
                   
                </div>
            
            </template>
        